@page
@model health.Pages.Dashboard.IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<h1 class="mb-4">Dashboard</h1>

<div class="row">
    <div class="col-lg-6">
        <partial name="_WeightCard" model="Model.WeightCard" />
    </div>
</div>
